.acc-menu {
  display: none;
  position: absolute;
  font-size: 20px;
  padding: 2px;
  border-radius: 10px;
  background-color: #dbe2ef;
  border: 2px solid #3f72af;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.menu-btn-wrp {
  display: flex;
  flex-direction: column;
}

#username {
  opacity: 0.7;
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  color: #112d4e;
  border-bottom: 2px solid #112d4e;
}

.menu-btn {
  background: none;
  color: #112d4e;
  padding: 5px;
  font-size: 20px;
  margin: 4px;
  border-radius: 5px;
  border: none;
}

.menu-btn:hover {
  background-color: #112d4e;
  color: #3f72af;
  transition: 0.2s;
}
